/*=========================================================================================
    File Name: vxCard.scss
    Description: Styles for vx-card component. Imported in VxCard.vue file
    ----------------------------------------------------------------------------------------
    Item Name: Hacoupian - Technology Dep.
      Author: Ahmadreza Azizan

==========================================================================================*/
.vx-card {
  width: 100%;
  background: #fff;
  border-radius: 0.5rem;
  display: block;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.vx-card.no-shadow {
  box-shadow: none;
}
.vx-card.card-border {
  border: 1px solid #e4e4e4;
}
.vx-card .vx-card__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 0;
}
.vx-card .vx-card__header .vx-card__title h4 + h6 {
  margin-top: 0.3rem;
}
.vx-card .vx-card__header .vx-card__title h6 {
  font-weight: 400;
}
.vx-card .vx-card__header .vx-card__actions .vx-card__action-buttons {
  display: flex;
}
.vx-card .vx-card__header .vx-card__actions .vx-card__action-buttons .feather-icon {
  margin-left: 0.5rem;
}
.vx-card .vx-card__header .vx-card__actions svg {
  transition: all 0.25s ease-out;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}
.vx-card .vx-card__header .vx-card__actions .rotate180 > svg {
  transform: rotate(180deg) !important;
}
.vx-card img.card-img-top {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.vx-card .vx-card__collapsible-content {
  transition: all 0.3s ease-in-out;
}
.vx-card .vx-card__collapsible-content.vs-con-loading__container {
  overflow: unset;
}
.vx-card .vx-card__collapsible-content.collapsed {
  opacity: 0;
  transform: scale(0.99);
}
.vx-card .vx-card__collapsible-content .card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.vx-card .vx-card__collapsible-content .card-overlay > * {
  position: relative;
  z-index: 1;
}
.vx-card .vx-card__collapsible-content .card-overlay::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.vx-card .vx-card__collapsible-content .vx-card__body {
  padding: 1.5rem;
}
.vx-card .vx-card__collapsible-content .vx-card__body img + .vx-card__title > h4 {
  margin-top: 1.5rem;
}
.vx-card .vx-card__collapsible-content img {
  display: block;
}
.vx-card .vx-card__code-container {
  overflow: hidden;
  transition: transform 0.35s, opacity 0.15s, max-height 0.3s ease-out;
}
.vx-card .vx-card__code-container.collapsed {
  opacity: 0;
  transform: translateY(100%);
}
.vx-card .vx-card__code-container .code-content {
  margin: 1.5rem;
}
.vx-card .vx-card__code-container .code-content pre[class^=language-] {
  max-height: 350px;
  border-radius: 0.5rem;
  margin-bottom: 0;
}
.vx-card .vx-card__footer {
  padding: 0 1.5rem 1.5rem;
}/*# sourceMappingURL=vxCard.css.map */